#topnav {
  background-color: black;
}

.nav-pills {
  font-size: 16px;
  
}

.nav-pills li a:hover {
  color: black;
}
.nav-pills li a {
  color: white;
}

.jumbotron {
  background-color: white;

}

.jumbotron p {
  font-size: 14px;
  
}

#aboutme img {
  height: 140px;
  width: 140px;
  margin: 0 auto;
}

.page-header {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
}

/*button styling */
.list-inline a {
  text-decoration: none;
  color: white;
}


#github,#codepen {
  background-color: black;
}

#freecodecamp {
  background-color: #006400;
  color:white;
}
#linkedin {
  background-color: rgb(0, 123, 182);
}

#soundcloud {
  background-color: rgb(255, 58, 0);
}

#instagram {
  background-color: rgb(205, 72, 107);
}


/*portfolio section*/
#portfolio {
  background-color: black;
}

#portfolio h1 {
  color: white;
}

#portfolio h6 {
  color:white;
}

/*contact*/

#contact .nav-pills li a {
  color: black;
}

/*footer*/
footer {
background-color: black;
  color:white;
  height: 100px;
}

footer h6 {
  padding-top: 50px; 
}

.thumbnail {
  height: 
}